[submodule "openpi"]
	path = openpi
	url = https://github.com/trd44/openpi.git
	branch = ICRA2026
[submodule "robosuite"]
	path = robosuite
	url = https://github.com/lorangpi/robosuite.git
	branch = CyclicLxM
[submodule "robosuite-task-zoo"]
	path = robosuite-task-zoo
	url = https://github.com/ARISE-Initiative/robosuite-task-zoo.git
[submodule "tarski"]
	path = tarski
	url = https://github.com/helenlu66/tarski.git
[submodule "rlds_dataset_builder"]
	path = rlds_dataset_builder
	url = https://github.com/trd44/rlds_dataset_builder.git
[submodule "neuro_symbolic_method/diffusion_policy"]
	path = neuro_symbolic_method/diffusion_policy
	url = https://github.com/real-stanford/diffusion_policy.git
[submodule "neuro_symbolic_method/learner-strips"]
	path = neuro_symbolic_method/learner-strips
	url = https://github.com/bonetblai/learner-strips.git
