.venv/
.DS_Store
__pycache__/
/.vscode/
**/eval_logs/
**/tensorboard_logs/
**/monitor_logs.csv
docs/
MUJOCO_LOG.TXT
data/
object_detection/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
*.cover
*.log
tests/monitor_logs_run_1
*.tar.gz
*.mp4
dataset_making/inspection_scripts/inspection_videos/*
planning/PDDL/hanoi/problem_save.pddl
wandb/